---
name: Broadcast files to organization
on:
  push:
    branches:
      - main
    paths:
      - '.github/linters/**'
      - '.github/super-linter.env'
      - 'workflow-templates/**'
      - 'config/examples/auto-labeler-config.yaml'
      - 'config/examples/release-drafter-config.yml'
      - 'config/dependabot/cloud-core/dependabot.yml'
      - '.gitattributes'
      - '.editorconfig'
      - '.github/auto-labeler-config.yaml'
  workflow_dispatch:
    inputs:
      repo_name:
        description: |
          Target repository name.
          If not provided, the action will be triggered for all repositories in the organization.
        required: false
      replicate-common-workflows:
        description: 'Replicate common workflows'
        required: false
        default: true
        type: boolean
      replicate-common-files:
        description: 'Replicate common files'
        required: false
        default: true
        type: boolean
      replicate-common-config-files:
        description: 'Replicate common config files'
        required: false
        default: true
        type: boolean
      replicate-cloud-core-dependabot:
        description: 'Replicate dependabot config file for Cloud-Core repos'
        required: false
        default: true
        type: boolean
      replicate-superlinter-configs:
        description: 'Replicate superlinter config file'
        required: false
        default: true
        type: boolean
permissions:
  actions: write
  contents: read
  pull-requests: write
  statuses: read
jobs:
  broadcast_files:
    uses: Netcracker/qubership-workflow-hub/.github/workflows/broadcast-files.yml@main
    secrets:
      GH_ACCESS_TOKEN: '${{ secrets.GH_ACCESS_TOKEN }}'
