---
name: Link Checker

on:
  push: null
  repository_dispatch: null
  workflow_dispatch: null
permissions:
  contents: read
jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0
        with:
           persist-credentials: false

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 #v2.7.0
        with:
          args: --verbose --no-progress --accept 100..=103,200..=299,429 './**/*.md'
          format: markdown
          fail: true
