name: PR Auto-Assignment
run-name: "Assigning reviewers for PR #${{ github.event.pull_request.number }}"
on:
  pull_request_target:
    types: [opened, reopened, synchronize]
    branches:
    - main
permissions:
  pull-requests: write
  contents: read
jobs:
  pr-auto-assign:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      with:
        persist-credentials: false

    - uses: netcracker/qubership-workflow-hub/actions/pr-assigner@9538833017019ab6bbc2138d3034778dfe3a5d1f #v2.0.6
      with:
        assignees-count: 2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
