name: PR Auto-Assignment
run-name: "Assigning reviewers for PR #${{ github.event.pull_request.number }}"
on:
  pull_request_target:
    types: [opened, reopened, synchronize]
    branches:
    - main
permissions:
  pull-requests: write
  contents: read
jobs:
  pr-auto-assign:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
      with:
        persist-credentials: false

    - uses: netcracker/qubership-workflow-hub/actions/pr-assigner@c1a5c8c2d9c2a79f548134db1d095f36ee0f28e7 #v2.0.7
      with:
        assignees-count: 2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
