name: PR Auto-Assignment
run-name: "Assigning reviewers for PR #${{ github.event.pull_request.number }}"
on:
  pull_request_target:
    types: [opened, reopened, synchronize]
    branches:
    - main
permissions:
  pull-requests: write
  contents: read
jobs:
  pr-auto-assign:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0
      with:
        persist-credentials: false

    - uses: netcracker/qubership-workflow-hub/actions/pr-assigner@b575bad3a0959c4e883bc34f9d055ff07fde2dbd #v2.0.1
      with:
        assignees-count: 2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
